main
{
    color: #00a0d2;
}
.red
{
  border: 1px solid red;
}
#true_loadmore{
    background-color: #ddd; /* сервый фон */
    border-radius: 2px; /* закругление углов */
    display: block; /* блочный элемент, на случай, если захотите использовать <a> */
    text-align: center; /* выравнивание текста по центру */
    font-size: 14px; font-size: 0.875rem; /* размер шрифта */
    font-weight: 800; /* начертание */
    letter-spacing: 1px; /* межбуквенный интервал */
    cursor: pointer; /* курсор мыши при наведении такой же, как при наведении на ссылку */
    text-transform: uppercase;
    padding: 10px 0; /* внутренние отступы сверху и снизу у кнопки */
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out; /* CSS-анимация*/
}
#true_loadmore:hover{
    background-color: #767676;
    color: #fff;
}