#video_reviews
{

}
.video_review_item
{
    display: flex !important;
    border: 1px solid salmon;
}
.video
{
    border: 1px solid salmon;
}
.video_review_item iframe
{
    width: 100%;
    min-height: 380px;
    /*border: 1px solid crimson;*/

}





.index_gallery
{
    border: 1px solid red;
    margin: 0 auto;
    flex-wrap: wrap;
}

figure img
{
    height: auto;
    max-height: 100%;
}
